body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
    transition: background-color var(--transition), color var(--transition);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 var(--space-sm);
}

/* header */
.header {
    position: sticky;
    top: 0;
    background-color: var(--color-card);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    z-index: 100;

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

;

logo {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-primary);
}

.nav-list {
    display: flex;
    gap: var(--space-sm);
}

.nav-list a {
    font-size: 0.95rem;
    color: var(--color-text);
    transition: color var(--transition);
}

.nav-list a:hover {
    color: var(--color-primary);
}

#toggle-theme {
    font-size: 1.3rem;
}

/* HERO */
.hero {
    padding: var(--space-lg) 0;
}

.hero-subtitle {
    color: var(--color-muted);
}

.hero-title {
    font-size: 2.rem;
    margin: var(--space-xs) 0;
}

.hero-text {
    max-width: 600px;
    color: var(--color-muted);
    margin-bottom: var(--space-md);
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-lg);
}

.hero-photo {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-primary);
}

.hero-photo:hover{
      transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(8, 4, 255, 0.55);
}

.section {
    padding: var(--space-lg) 0;
}

.section-title {
    font-size: 1.9rem;
    margin-bottom: var(--space-sm);
}

.section-text {
    max-width: 700px;
    color: var(--color-muted);
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-md);
}

.tech-list li {
    background-color: var(--color-card);
    padding: 0.8rem 1rem;
    border-radius: var(--radius-sm);
    display: flex;
    align-items: last baseline;
    gap: 0.5rem;
    font-size: 0.9rem;
}

.tech-list li:hover {
    transform: translateY(-5px);
   box-shadow: 0 10px 25px rgba(8, 4, 255, 0.55);
}

.tech-list img {
    width: 100px;
    height: 100px;
}

/* projetos */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--space-md);
    margin-top: var(--space-md);
}

.project-card {
    background-color: var(--color-card);
    padding: var(--radius-sm);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: transform var(--transition), box-shadow var(--transition);
}

.project-card:hover {
    transform: translateY(-5px);
 box-shadow: 0 10px 25px rgba(8, 4, 255, 0.55);
}

.project-tech {
    font-size: 0.85rem;
    color: var(--color-muted);
}

.project-links {
    margin-top: auto;
    display: flex;
    gap: var(--space-sm);
}

.project-links a {
    font-size: 0.95rem;
    color: var(--color-primary)
}

.section, .project-card{
    opacity: 0 ;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.section.visible,
.project-card.visible{
    opacity: 1;
    transform: translateY(0);
}

/* Contato */

.contact-links {
    display: flex;
    gap: var(--radius-md);
    margin-top: var(--space-sm);
}

.contact-links a {
    font-weight: 500;
    color: var(--color-primary);
}

/* footer */

.footer{
    padding: var(--space-sm);
    text-align: center;
    color: var(--color-muted);
    font-size: 0.8rem;
}

@media(max-width:768px) {
    .hero-content {
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-title{
        font-size: 2rem;
    }
    .nav-list{
        display: none;
    }
}